<html>
<head>
    <title>Fitbit</title>
    <link rel="stylesheet" type="text/css" href="https://raw.github.com/NickQiZhu/dc.js/master/test/dc.css"/>
</head>
<body>
    <input id="input1" type="text"></input>
    <div id="chart1"></div>
    <div id="chart2"></div>
    <div id="chart3"></div>
    <div id="chart4"></div>
    <div id="table1"></div>
    <style>
    td {
        padding-right: 4px;
    }
    </style>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://square.github.io/crossfilter/crossfilter.v1.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dc/1.3.0/dc.min.js"></script>
    <script>

var cross = undefined;
var searchterm = "";

d3.json('/data.json', function (err, data) {

    // 1. Time
    parseDate = d3.time.format("%Y-%m-%d").parse;
    data.forEach(function(d) {
        d.day = new Date(d.time * 1e3);

        // Plot value attribute***
        // ** ID (dirk), 
        // ** Exp (calories spent, calotiesIn), 
        // ** Loc (Pasadena) in the brain 
        // ** Val (calories) 
        // ** Time (day in fitbit)
        // ** Data type
        // Set Location Flag to "Pasadena"
    });
    console.log(data[0]);
    console.log(data[data.length-1]);
    
    cross = crossfilter(data);

    //Summary data by group (crossfilter functions)
    // Group by Time
    d1 = cross.dimension(function(d) { return d.day; });
    g = d1.group().reduceSum(function(d) { return d.value; });


    dc.lineChart('#chart1')
    .dimension(d1)
    .group(g)
    .height(512)
    .width(512)
    .x(d3.time.scale().domain([new Date(2013, 6-1, 1), new Date(2013, 7-1, 1)]))
    .y(d3.scale.linear())
    .elasticY(true);
    
    // Group by Food type
    d = cross.dimension(function(d) { return d.identity; });
    g = d.group().reduceSum(function(d) { return 1; });
    dc.pieChart('#chart2')
    .dimension(d)
    .group(g)
    .height(256)
    .width(256);

    d4 = cross.dimension(function(d) { return d.experiment; });
    g = d4.group().reduceSum(function(d) { return 1; });
    chart3 = dc.pieChart('#chart3')
    .dimension(d4)
    .group(g)
    .height(256)
    .width(256);
    
    $("#input1").keyup(function (e) {
        if (e.keyCode == 13) {
            searchterm = this.value;
            if(searchterm == "") {
                // d4.filterAll();
                chart3.filterAll();
            } else {
                // d4.filterAll();
                // d4.filter(function (d) { return d.indexOf(searchterm) > -1; });
                //chart3.filter(searchterm);
                chart3.filter(function (d) { return d.toLowerCase().indexOf(searchterm.toLowerCase()) > -1; });
            }
            dc.redrawAll();
        }
    });
    
    table1 = dc.dataTable('#table1')
    .dimension(d4)
    .group(function(d) { return d.type;})
    .width(512)
    .height(512)
    .columns([
        function(d) { return d.day.getFullYear() + '-' + d.day.getMonth() + '-' + d.day.getDate() },
        function(d) { return d.type },
        function(d) { return d.value },
        function(d) { return d.location; },
    ])
    .sortBy(function(d) {
        return d.time;
    })

    
    // Group by Location

    dc.renderAll();
});
    </script>
</body>
</html>